@model InviteViewModel

<form method="post" asp-action="SendInvite" asp-controller="Invite">

    <label for="ium">What user do you want to invite?</label>
    <input type="text" name="ium" list="ium"/>
        <datalist id="ium">
            @foreach(InviteUserModel i in Model.Users)
            {
                <option value="@i.Id">@i.Username</option>
            }
        </datalist>

    <br />

    <label for="projectId">What project do you want to invite them to?</label>
    <select id="projectId" name="projectId">
        @foreach(Project p in Model.Projects)
        {
            <option value="@p.Id">@p.ProjectName</option>
        }
    </select>

    <input type="submit" />
</form>