@model ProjectViewModel 
@{
    ViewData["Title"] = "Home Page";
}

@if(Model.UserProjects.Count != 0)
{
    foreach(Project p in Model.UserProjects)
    {
        <a>@p.ProjectName</a>
        if(Model.UserAdminGroups.Contains(p.Id))
        {
            <a asp-controller="Projects" asp-action="Delete" asp-route-id="@p.Id">Delete Project</a>
        }
        else
        {
            <a>Leave Project</a>
        }
    }
}
else
{
    <h3>You currently do not have any projects. Please create a <a asp-controller="Projects" asp-action="Create">new project</a> or accept an invitation to one</h3>
}
